<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    .container { background-color: crimson; color: white; font-size: 80px;
    width: 450px; height: 450px; display: flex; justify-content: center;
    align-items: center; margin: auto; }
  </head>
  <body>
    <div class="container">
      <h1>Hello World</h1>
    </div>
  </body>
</html>
